h1 {
  color: #555;
}
.f1_container {
    margin:10px;
    width: 300px;
    height: 300px;
    float:left;
    perspective: 1000px;
}

.f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.6s linear;
    box-shadow: -3px 3px 3px #aaa;
}
.f1_container.active .f1_card {
    transform: rotateY(180deg);
}

.face {
  font-size: 34px;
  text-align: center;
  line-height: 8;
}

.front.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #AEB6BF;
    transition: background-color 2s;
}

.face.back {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    color: white;
    background-color: #73C6B6;
}

.addCardForm {
  margin: 5px 0;
}

.card_exam {
  display: inline-block;
  margin:10px;
  width: 300px;
  height: 300px;
  box-shadow: -3px 3px 3px #aaa;
  background-color: #AEB6BF;
}

.answers {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}

.exam {
  vertical-align: top;
}

.answerButton {
  margin: 5px 0px;
  transition: background-color 0.5s;
}

.answerButton:focus {
  outline: none;
}

.answerButton:hover {
    background-color: #f4fdd8;
}

.tab {
    display: inline-block;
    width: 109px;
    height: 35px;
    font-size: 21px;
    color: #777;
    margin: 0px 2px 0 0;
    padding: 2px;
    transition: background-color 0.5s;
    cursor: pointer;
    border-radius: 4%;
    text-align: center;
}

.tab:hover {
  background-color: #efe9e9;
}

.tabs {
  border-bottom: 1px solid #A2D9CE;
  position: relative;
}

.newTab {
  display: inline-block;
}

.btn {
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.errorMessage {
  margin-left: 10px;
  color: #c75b5b;
}
